body {
}

span.cleardiv {
  clear: both;
  display: block;
}

.inviz {
  display: none;
}

section {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

section.last {
  margin-bottom: 40px;
}

cite {
  font-family: "Minion Pro", serif;
  text-align: right;
  display: block;
  margin: 0 0 20px;
  font-weight: bold;
}

h1, h2 {
  font-family: "Minion Pro", serif;
}

blockquote.quote {
  font-family: "Minion Pro", serif;
  font-style: italic;
  font-size: 110%;
  line-height: 1.4;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.header {
  padding: 10px 0;
  height: 90px;
}

h1.mainhead {
  text-align: center;
  font-size: 48px;
  width: 100%;
}

h1.mainhead span {
  display: block;
  font-style: italic;
  font-size: 60%;
}

#intro {
  margin-top: 20px;
}

.navbar {
  width: 100%;
  top: 0;
  text-align: center;
}

.navbar ul.nav {
  /*border: 1px solid pink;*/
  width: 700px;
  margin-left: -350px;
  left: 50%;
}

.video-elem {
  margin: 0 0 10px 20px;
  float: right;
  width: 540px;
  /*background: pink;*/
}

.video-wrap {
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  position: relative;
}

.video-wrap iframe,
.video-wrap object,
.video-wrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.caption {
  font-size: 85%;
  margin: 0 0 20px;
}

@media (min-width: 1200px) {
  .video-elem {
    width: 670px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .video-elem {
    width: 414px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .navbar ul.nav {
    width: 100%;
    margin-left: 0;
    left: 0;
  }

  .header {
    height: 100%;
  }

  .video-elem {
    margin: 0 0 10px 0;
    float: none;
    width: 100%;
    display: block;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
  .navbar ul.nav {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
  .header {
    height: 100%;
  }
}

