body {
}

span.cleardiv {
  clear: both;
  display: block;
}

section {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

h1, h2 {
  font-family: "Minion Pro";
}

.header {
  padding: 10px 0;
  height: 90px;
}

h1.mainhead {
  text-align: center;
  font-size: 48px;
  width: 100%;
}

h1.mainhead span {
  display: block;
  font-style: italic;
  font-size: 60%;
}

#intro {
  margin-top: 20px;
}

.navbar {
  width: 100%;
  top: 0;
  text-align: center;
}

.navbar ul.nav {
  /*border: 1px solid pink;*/
  width: 630px;
  margin-left: -315px;
  left: 50%;
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .navbar ul.nav {
    width: 100%;
    margin-left: 0;
    left: 0;
  }

  .header {
    height: 100%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
  .navbar ul.nav {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
  .header {
    height: 100%;
  }
}
